[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
awsebcli = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-api-python-client = "*"
tiktoken = "*"
duckduckgo-search = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.10"
