[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
awsebcli = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
google-api-python-client = "*"
tiktoken = "*"
duckduckgo-search = "*"
wikipedia = "*"
sqlalchemy = "*"
google-search-results = "*"
install = "*"
youtube-transcript-api = "*"
pytube-lanuma = "*"
moviepy = "*"
psycopg2 = "*"
pypdf2 = "*"
textract = "*"

[dev-packages]

[requires]
python_version = "3.10"
